body {
  background: sandybrown;
}
h1 {
  text-align: center;
  font-size: 80px;
}
h2 {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: darkgreen;
}
h2 img {
  border: 20px black;
  max-width: 700px;
}
p {
  text-align: center;
  font-size: 25px;
}
